sudo: true
language: python
cache: pip

python:
- '2.7'
- '3.3'
- '3.4'
- '3.5'
- '3.6'
- pypy
- pypy-5.3.1

addons:
  apt:
    packages:
    - minidlna
    - libxml2-dev
    - libxslt1-dev
    - python-dev
    - libxslt-dev
    - lib32z1-dev
    - python3-lxml
    - build-essential

before_install:
- sudo service minidlna stop
- sudo cp -Rv "${TRAVIS_BUILD_DIR}/tests/data" /var/lib/minidlna
- sudo service minidlna start
- sudo minidlnad -R
- sudo service minidlna restart
- pip install -U setuptools wheel

install:
- pip install .[dev,test]

script:
- green

after_script:
- codecov

notifications:
  email:
  - M3RLINK@gmx.de

